.main-card {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    color: white;
    position: relative;
}

.grid-main-card {
    background-position: center !important;
    padding-top: 106px;
    padding-right: 34px;
    margin-bottom: 0;
    min-height: 244px;
}

.list-main-card {    
    min-height: 170px;
    background-position: left !important;
    background-blend-mode: lighten;
    padding-right: 34px;
    margin-bottom: 18px;
}

.bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.name-container {
    display: flex;
    height: 70px;
    align-items: flex-end;
    ;
}

.name-container h4 {
    color: white;
    margin: 0px;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}

.list-name-container {
    display: flex;
    align-items: baseline;
}

.list-name-container h4 {
    color: white;
    margin: 0px;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    margin-left: 214px;
    height: 63px;
}

.grid-thumb {
    padding: 7px;
    height: 16px;
    margin-bottom: 2px;
    margin-right: 6px;
}

.vote-data {
    justify-items: right;
    justify-self: right;
}

.list-thumb {
    height: 24px;
    padding: 10.5px;
}

.description-text {
    font-size: 15px;
    font-weight: 400;
    max-height: 36px;
    width: 276px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 36px;
    margin-top: 5px;
    margin-bottom: 12px;
    line-height: 18px;
}

.list-description-text {
    margin-top: 60px;
    font-size: 18px;
    font-weight: 400;
    max-height: 42px;
    max-width: 548px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 42px;
    line-height: 21.6px;
}

.description-area {
    display:  block;
    position: relative;
}

.list-description-area {
    display: grid;
    position: absolute;
    top: 8px;
    left: 260px;
    grid-template-columns: 2fr 1fr;
    width: 74%;
}

@media all and (max-width: 768px) {
    .list-main-card {    
        min-height: 142px;
        background-position: left !important;
        padding-right: 34px;
        margin-bottom: 14px;
    }

    .grid-main-card {
        background-position: center !important;
        padding-top: 146px;
        padding-right: 34px;
        margin-bottom: 0;
        min-height: 204px;
    }

    .list-thumb {
        padding: 7px;
        height: 16px;
    }

    .name-container {
        height: 34px;
    }

    .name-container h4 {
        color: white;
        margin: 0px;
        font-size: 28px;
        font-weight: 400;
        text-align: left;
    }

    .list-name-container h4 {
        color: white;
        margin: 0px;
        font-size: 28px;
        font-weight: 400;
        text-align: left;
        margin-left: 120px;
        height: 34px;
        max-width: 287px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .list-description-area {
        display: grid;
        position: absolute;
        left: 147px;
    }

    .list-description-text {
        margin-top: 40px;
        font-size: 14px;
        font-weight: 400;
        max-height: 34px;
        margin-bottom: 42px;
        line-height: 16.8px;
        margin-left: 0;
        width: 300px;
    }
}

@media all and (max-width: 500px) {
    .grid-main-card {
        background-position: center !important;
        padding-top: 95px;
        padding-right: 0px;
        margin-bottom: 0;
        max-height: 300px;
        min-width: 300px;
        max-width: 300px;

        margin-right: 12px;
    }

    .name-container {
        height: 34px;
    }

    .name-container h4 {
        color: white;
        margin: 0px;
        font-size: 28px;
        font-weight: 400;
        text-align: left;
    }

    .description-area {
        display:  block;
        position: relative;
        width: 90%;
    }
    
    .description-text {
        width: 237px;
    }
}